{% extends "layout.html" %}
{% block content %}
    <h1 class="mb-4">What is pyStocks?</h1>
    <p>pyStocks is a stock portfolio site that you can
    use to practice your skills in the market- with realtime data.</p>
    <p> It has been developed in python utilizing Flask.</p>
    <p> To gather realtime market data, pyStocks uses <strong> Finnhub.io </strong>, an amazing free API.</p>
    <p> This project is hosted using digital ocean, on the same server as my <strong><a href="www.trentstauffer.ca" target="_blank">personal website.</a> </strong></p>
    <p> If you have any questions or concerns, head over to my site and shoot me a message!</p>
    <h5 class="mb-4"> Enjoy! </h5>
    <img src="http://trentstauffer.ca/img/pyStocks.gif" style="height: 100%; width: 100%; object-fit: contain" />
{% endblock content %}