{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block content %}
<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"></a></div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js" async>
      {
  "symbols": [
    {
      "proName": "FOREXCOM:SPXUSD",
      "title": "S&P 500"
    },
    {
      "proName": "FOREXCOM:NSXUSD",
      "title": "Nasdaq 100"
    },
    {
      "description": "DOW",
      "proName": "CURRENCYCOM:US30"
    },
    {
      "description": "TSX",
      "proName": "TSX:TSX"
    },
    {
      "description": "USD/CAD",
      "proName": "FX:USDCAD"
    },
    {
      "description": "USD/EURO",
      "proName": "FX_IDC:USDEUR"
    },
    {
      "description": "BTC/USD",
      "proName": "BITBAY:BTCUSD"
    },
    {
      "description": "ETH/USD",
      "proName": "KRAKEN:ETHUSD"
    }
  ],
  "colorTheme": "light",
  "isTransparent": true,
  "displayMode": "regular",
  "locale": "en"
}
  </script>
</div>
<!-- TradingView Widget END -->
    <h1>Your Portfolio</h1>
    <div class="table-responsive table-hover">

        <table class="table table-sm">
            <thead class="thead-light">
                <tr>
                    <th>Symbol</th>
                    <th>Shares</th>
                    <th>Purchase Price</th>
                    <th>Current Price</th>
                    <th>Total Value</th>
                    <th>+/-</th>
                    <th>Buy/Sell</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in user.stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>${{ stock.purchase_price }}</td>
                    {% if stock.price|float < stock.purchase_price|float %}
                        <td class="text-danger">${{ stock.price }}</td>
                    {% endif %}
                    {% if stock.price|float > stock.purchase_price|float %}
                        <td class="text-success">${{ stock.price }}</td>
                    {% endif %}
                    {% if stock.price|float == stock.purchase_price|float %}
                        <td>${{ stock.price }}</td>
                    {% endif %}
                    <td>${{ stock.total_value }}</td>
                    {% if stock.margin|float < 0 %}
                        <td class="text-danger">${{ stock.margin }}</td>
                    {% endif %}
                    {% if stock.margin|float > 0 %}
                        <td class="text-success">${{ stock.margin }}</td>
                    {% endif %}
                    {% if stock.margin|float == 0 %}
                        <td>${{ stock.margin }}</td>
                    {% endif %}
                    <td>
                        <button type="button" class="btn btn-info btn-sm"><a href="{{url_for('buy', stock_id=stock.id)}}" style="color: #ffffff; text-decoration: none;">Buy</a></button>
                        <button type="button" class="btn btn-danger btn-sm"><a href="{{url_for('sell', stock_id=stock.id)}}" style="color: #ffffff; text-decoration: none;">Sell</a></button>
                    </td>
                </tr>
                {% endfor %}
                 <tr>
                     <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>Total +/-</th>
                    {% if user.profit|float > 0 %}
                        <td class="text-success">${{ user.profit }}</td>
                    {% endif %}
                    {% if user.profit|float < 0 %}
                        <td class="text-danger">${{ user.profit }}</td>
                    {% endif %}
                    {% if user.profit|float == 0 %}
                        <td >${{ user.profit }}</td>
                    {% endif %}
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>Stock Worth</th>
                    <td>${{user.total}}</td>
                </tr>
                <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <th>Balance</th>
                        <td>${{user.money}}</td>
                        <td>
                            <form method="post" action="{{url_for('refresh')}}" >
                              <button class="btn btn-sm btn-primary" type="submit">Refresh Prices</button>
                            </form>
                        </td>
                    </tr>
            </tbody>
        </table>
    </div>
      <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Clear Portfolio</button>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col mb-4">
                <h2>Buy Stocks</h2>
                {% include 'buy_container.html' %}
            </div>
            <div class="col mb-4">
                <h2>Quote Stock</h2>
                {% include 'quote_container.html' %}
            </div>
            <div class="col mb-4">
                <h2>Sell Stocks</h2>
                {% include 'sell_container.html' %}
            </div>
        </div>
    </div>
    <!-- Modal -->
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Clear Portfolio?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="{{ url_for('clear_portfolio', user_id=user.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Clear Portfolio">
              </form>
            </div>
          </div>
        </div>
      </div>

{% endblock %}